.home {
  display: flex;
}

.header {
  margin-top: 60px;
}

.headerTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  position: absolute;
  top: 20%;
  font-size: 100px;
  color: rgb(165, 164, 164);
  z-index: 2;
  /* font-family: 'Lora', serif; */
}

.headerImg {
  margin-top: 80px;
  object-fit: cover;
}
