.home {
  display: flex;
}

.header {
  margin-top: 0px;
}

.headerTitleContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-areas: 'overlay';
}

.headerTitleContainer > span {
  grid-area: overlay;
}

.headerTitleContainer > span:last-child {
  margin-top: 18vw;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 0;
  padding-right: 50%;
}

.headerImg {
  margin-top: 0;
  object-fit: cover;
  /* position: absolute; */
}

.headerTitle > img {
  /* position: relative; */
  z-index: 1;
  /* font-family: 'Lora', serif; */
}
